<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi.android.quickshoot"
    android:versionCode="110"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/qs_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.mi.android.quickshoot.SettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.mi.android.quickshoot.QsBroadcastReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mi.android.quickshoot.ShootWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shoot_widget_provider" />
        </receiver>
    </application>

</manifest>